<!DOCTYPE html>
<script>
    $(document).ready(function(){

    })
</script>
<html lang="en">
    <!-- inser head -->
    @await Html.PartialAsync("Head.cshtml")
    <!-- end insert head -->
    <body class="">
        <div class="header">
            <h2 class="tac">Welcome to 31 by 3!</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="rules bubble-border">
                        <div class="row">
                            <div class="col-12">
                                <h2>Objective:</h2>
                                <p>The goal is to obtain a hand that totals 31 in cards of one suit; or to have a hand at the showdown whose count in one suit is higher than that of any other player.</p>
                                <h2>Card Values/Scoring</h2>
                                <p>An Ace counts 11 points, face cards count 10 points, and all other cards count their face value</p>
                                <h2>The Play:</h2>
                                <p>Before play begins, all players put an equal amount of chips into a pot. The player on the dealer's left has the first turn. On each turn, a player may take one card from the widow and replace it with one card from his hand (face up). (Variation: Players may exchange any number of cards with the widow in this manner.)</p>
                                <p>Players take turns, clockwise around the table, until one player is satisfied that the card values he holds will likely beat the other players. He indicates this by "knocking" on the table. All other players then get one more turn to exchange cards. Then there is a showdown in which the players reveal their hands and compare values. The player with the highest total value of cards of the same suit wins the pot.</p>
                                <p>If there is a tie for the highest score, the player with the highest-ranking card wins. Example: K, Q, 6 (total 26) would beat Q, 9, 7 (also total 26). If there is a tie in the highest cards, the next highest cards are compared, and so on.</p>
                                <p>Any time a player holds exactly 31, he may "knock" immediately, and he wins the pot. If a player knocks before the first round of exchanges have begun, the showdown occurs immediately with no exchange of cards.</p>
                                <p>After the pot has been won, all the players put in chips for the next hand.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="sidebar-rules">
                                    <h2>31 by 3</h2>
                                    <h4>Rule Reminders:</h4>
                                    <div class="row">
                                        <div class="col-6">
                                            <ul>
                                                <li>Try to total 31</li>
                                                <li>Choose Cards in the same suit</li>
                                                <li>Ace = 11</li>
                                            </ul>
                                        </div>
                                        <div class="col-6">
                                            <ul>
                                                <li>10-K are worth 10 points</li>
                                                <li>Knock when you think you can beat everyone's hand value</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 clearfix">
                                <div class="float-right">
                            <!-- add transition here -->
                                    <button>Got it! Let's Play!</button>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-3 sidebar">
                    <div class="sidebar-buffer bubble-border">
                        <div class="row">
                            <div class="col-12">
                                <h2 class="tac">Choose One per turn:</h2>
                            </div>
                        </div>
                        <div class="row deck-area">
                            <div class="col-12">
                                <div class="row draw">
                                    <div class="col-12">
                                        <div class="draw-deck">
                                            <img src="~/img/cardback.png" alt="">
                                        </div>
                                        <!-- placement of Draw Deck Styling -->
                                    </div>
                                    <div class="col-12">
                                        <form action="/drawtohand" method="post">
                                            <div class="row">
                                                <div class="col-12 m0a">
                                                    <div class="b-wrap">
                                                        <input type="submit" class="button" value="Draw from Deck">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 deck-pusher">
                                <div class="row discard">
                                    <div class="col-12">
                                        <div class="draw-deck">
                                            <img src="~/img/cardback.png" alt="">
                                            <!-- placement of Discard Deck Styling -->
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <form action="/discardtohand" method="post">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="b-wrap b-wide">
                                                        <input type="submit" class="button" value="Draw from Discard">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-9">
                    <div class="game-area bubble-border">
                        <div class="row hand-container">
                            <div class="col-12">
                                <!-- START OF ONE HAND -->
                                @foreach(var player in ViewBag.players)
                                {
                                    <div class="hand">
                                    <div class="tl-arrow"></div>
                                    <div class="tr-arrow"></div>
                                    <div class="bl-arrow"></div>
                                    <div class="br-arrow"></div>
                                    <div class="row">
                                        <div class="col-10">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="row hand-labels">
                                                        <div class="col-12 col-md-6">
                                                            <h3>@player.Value.name</h3>
                                                        </div>
                                                        <div class="col-12 col-md-6">
                                                            <h3>@player.Value.tokens</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <form action="" method="post">
                                                        <div class="row">
                                                            <div class="player-card col-12 col-md-6 col-lg-3">
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        <div class="card-anchor">
                                                                            <div class="m0a w100">
                                                                                <img src="~/img/c1.png" alt="">
                                                                            </div>
                                                                            <!-- a card should go here -->
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        <!-- checkbox for card -->
                                                                        <div class="m0a w100">
                                                                            <input type="checkbox" class="tac check">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="player-card col-12 col-md-6 col-lg-3">
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        <div class="card-anchor">
                                                                            <div class="m0a w100">
                                                                                <img src="~/img/c1.png" alt="">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        <!-- checkbox for card -->
                                                                        <div class="m0a w100">
                                                                            <input type="checkbox" class="tac check">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="player-card col-12 col-md-6 col-lg-3">
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        <div class="card-anchor">
                                                                            <div class="m0a w100">
                                                                                <img src="~/img/c1.png" alt="">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        <!-- checkbox for card -->
                                                                        <div class="m0a w100">
                                                                            <input type="checkbox" class="tac check">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="player-card col-12 col-md-6 col-lg-3">
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        <div class="card-anchor">
                                                                            <div class="m0a w100">
                                                                                <img src="~/img/c1.png" alt="">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        <!-- checkbox for card -->
                                                                        <div class="m0a w100">
                                                                            <input type="checkbox" class="tac check">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2 hand-buttons">
                                            <div class="row">
                                                <div class="col-4"></div>
                                                <div class="col-4">
                                                    <div class="turn-indicator">
                                                        <i class="fas fa-child"></i>
                                                    </div>
                                                </div>
                                                <div class="col-4"></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <!-- feel free to put these inside forms if easier/required. Make sure the form is instantiated inside of the col-12 -->
                                                    <!-- discard card button -->
                                                    <button class="discard-btn">Discard</button>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <!-- laydown button -->
                                                    <button>Knock</button>
                                                    <!-- knock button -->
                                                    <!-- <button class="hide">Lay Down!</button> -->
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <!-- Show Hide Hand button -->
                                                    <button id="reveal_hand">Show</button>
                                                    <button id="hide_hand" class="hidden">Hide</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                }
                                <!-- END OF HAND  --><!-- START OF ONE HAND -->
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>