.green-bg {
  background-color: green; }

.gray-bg {
  background-color: #F4F7D9; }

.blue-bg {
  background-color: #04518C; }

.red-bg {
  background-color: red; }

.yellow-bg {
  background-color: yellow; }

.orange-bg {
  background-color: orange; }

.black-bg {
  background-color: black; }

.purple-bg {
  background-color: purple; }

.dilb {
  display: inline-block; }

.hidden {
  display: none; }

.invisible {
  visibility: hidden; }

.tac {
  text-align: center; }

.tal {
  text-align: left; }

.tar {
  text-align: right; }

.divider {
  border-bottom: 3px solid #3E423A;
  -webkit-box-shadow: 1px 7px 3px -4px #6c6e58;
  -moz-box-shadow: 1px 7px 3px -4px #6c6e58;
  box-shadow: 1px 7px 3px -4px #6c6e58; }

.divider-small {
  -webkit-box-shadow: 0px 2px 4px 1px #6c6e58;
  -moz-box-shadow: 0px 2px 4px 1px #6c6e58;
  box-shadow: 0px 2px 4px 1px #6c6e58;
  border-bottom: 3px solid #3E423A;
  width: 80%;
  margin: 0 auto;
  height: 1px; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.clearfix {
  clear: both; }

img {
  width: 100%;
  height: 100%; }

.mt20 {
  margin-top: 20px; }

.ml20 {
  margin-left: 20px; }

.m20 {
  margin: 20px; }

button, .button {
  background-color: #051c37;
  color: white;
  padding: 7px 25px;
  border: silver 2px solid;
  border-radius: 10px;
  margin: 1px 1px 1px 1px;
  cursor: pointer; }
  button:hover, .button:hover {
    background-color: rgba(5, 28, 55, 0.8);
    padding: 8px 26px;
    margin: 0; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .large, .medium {
    display: none; } }
@media only screen and (min-device-width: 481px) and (max-device-width: 1023px) {
  .small, .large {
    display: none; } }
@media only screen and (min-device-width: 1024px) {
  .small, .medium {
    display: none; } }
body {
  background-color: #0a7a00;
  background-image: url("https://www.transparenttextures.com/patterns/black-felt.png"); }

.header {
  width: 100%;
  height: 90px;
  background-color: #051c37;
  color: white;
  margin: 0 0 20px 0;
  padding: 20px 0 0 0;
  line-height: 50px; }
  .header h2 {
    font-size: 2.5em;
    margin: 0; }

.container {
  padding: 0 20px 20px 20px;
  color: white; }
  .container h1 {
    margin-bottom: 20px; }
  .container h2 {
    margin: 15px 0 20px 0px; }
  .container .bubble-border {
    background-color: #F4F7D9;
    border-radius: 25px;
    border: 11px solid #051c37;
    padding: 10px;
    color: #051c37; }
  .container .rules {
    min-height: 300px;
    margin: 30px 0px;
    padding: 20px; }
  .container .sidebar .sidebar-buffer {
    min-height: 600px;
    margin: 0 10px 30px 0px;
    padding-left: 20px; }
  .container .content {
    min-height: 600px;
    padding: 20px; }
    .container .content .hand-container {
      margin-top: 20px; }
      .container .content .hand-container .hand .hand-buttons .discard-btn {
        padding: 7px 20px; }
        .container .content .hand-container .hand .hand-buttons .discard-btn:hover {
          padding: 8px 21px; }
      .container .content .hand-container .hand .hand-buttons button {
        text-align: center; }

/*# sourceMappingURL=base.css.map */
