// Import modules via all.scss
@import "modules/modules";

// import helpers
@import "helpers/buttons";
@import "helpers/mixins";

// import responsive sheets
@import "responsive/1phone";
@import "responsive/2tablet";
@import "responsive/3desktop";

body{
    background-color: #657a64;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

.header{
    width: 100%;
    height: 90px;
    background-color: $b-blue;
    color: white;
    margin: 0 0 20px 0;
    padding: 20px 0 0 0;
    line-height: 50px;
    h2{
        font-size: 2.5em;
        margin: 0;
    }
}
.container{
    padding: 0 20px 20px 20px;
    color: $white;
    h1{
        margin-bottom: 20px;
    }
    h2{
        margin: 15px 0 20px 0px;
    }
    .bubble-border{
        background-color: $t-gray;
        border: 11px solid $b-blue;
        color: $b-blue;

    }
    .rules{
        min-height: 300px;
        margin: 30px 0px;
        padding: 20px;
    }
    .sidebar{
        // padding-right: 0px;
       .sidebar-buffer{
            min-height: 600px;
            margin: 0 0 30px 0;
            padding: 0 20px;
            h2{
                border-bottom: 1px solid $b-blue;
                margin-bottom: 20px;
                padding-bottom: 10px;
            }
            ul{
                padding-left: 18px;
            }
        }
        .deck-area{
            //box for
            // border: 1px solid green;
            .b-wrap{
                text-align: center;
                width: 171px;
                margin: 0 auto
            }
            .b-wide{
                width: 191px;
            }
            .draw{
                // border: 1px solid saddlebrown;

            }
            .deck-pusher{
                margin: 20px 0 20px 0;
            }
            .draw-deck{
                max-width: 70%;
                margin: 0 auto;
                img{
                    width: 100%;
                    height: auto;

                }
            }
            .discard{
                // border: 1px solid orangered;

            }
        }
    }
    .game-area{
        padding: 0 15px;
        .hand-container{
            margin-top: 20px;

            .hand{
                padding: 10px;
                border: 1px solid $b-blue;
                margin-bottom: 25px;
                background-image: url("/img/bg-tile-tan.png");
                min-height: 200px;
                position: relative;
                .hand-labels{
                    h3{
                        font-size: 1.3em;
                    }
                }
                .hand-buttons{
                    .turn-indicator{
                        font-size: 1.5em;
                        min-height: 40px;
                        i{
                            width: 100%;
                        }
                    }
                    .discard-btn{
                        padding: 7px 20px;
                        &:hover{
                            padding: 8px 21px;
                        }
                    }
                    button{
                        width: 100%;
                        text-align: center;
                    }
                }
                .player-card{
                    padding: 10px 0 0 0;
                    .w100{
                        width: 71px;
                    }
                    .check{
                        margin-left: 30px;
                    }
                    .card-anchor{
                        margin: 0 auto;
                        img{
                            max-height: 100px;
                            height: auto;
                            width: auto;
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }
}
