html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.green-bg {
  background-color: green; }

.gray-bg {
  background-color: #F4F7D9; }

.blue-bg {
  background-color: #04518C; }

.red-bg {
  background-color: red; }

.yellow-bg {
  background-color: yellow; }

.orange-bg {
  background-color: orange; }

.black-bg {
  background-color: black; }

.purple-bg {
  background-color: purple; }

.dilb {
  display: inline-block; }

.hidden {
  display: none; }

.invisible {
  visibility: hidden; }

.tac {
  text-align: center; }

.tal {
  text-align: left; }

.tar {
  text-align: right; }

.divider {
  border-bottom: 3px solid #3E423A;
  -webkit-box-shadow: 1px 7px 3px -4px #6c6e58;
  -moz-box-shadow: 1px 7px 3px -4px #6c6e58;
  box-shadow: 1px 7px 3px -4px #6c6e58; }

.divider-small {
  -webkit-box-shadow: 0px 2px 4px 1px #6c6e58;
  -moz-box-shadow: 0px 2px 4px 1px #6c6e58;
  box-shadow: 0px 2px 4px 1px #6c6e58;
  border-bottom: 3px solid #3E423A;
  width: 80%;
  margin: 0 auto;
  height: 1px; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.clearfix {
  clear: both; }

img {
  width: 100%;
  height: 100%; }

.mt20 {
  margin-top: 20px; }

.ml20 {
  margin-left: 20px; }

.m20 {
  margin: 20px; }

.container .form-wrapper {
  *zoom: 1; }
  .container .form-wrapper:before, .container .form-wrapper:after {
    content: " ";
    display: table; }
  .container .form-wrapper:after {
    clear: both; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .large, .medium {
    display: none; } }
@media only screen and (min-device-width: 481px) and (max-device-width: 1023px) {
  .small, .large {
    display: none; } }
@media only screen and (min-device-width: 1024px) {
  .small, .medium {
    display: none; } }
.container {
  padding: 0 20px 20px 20px;
  color: #3E423A; }
  .container .header {
    width: 100%;
    height: 50px;
    background-color: #3E423A;
    color: white; }
    .container .header h3 {
      line-height: 50px;
      font-size: 24px;
      margin-left: 20px; }
    .container .header a {
      color: white;
      text-decoration: none;
      line-height: 50px;
      font-size: 20px;
      margin: 0 20px; }
      .container .header a:hover {
        color: #F2D03B; }
  .container h1 {
    margin-bottom: 20px; }
  .container h2 {
    margin: 30px 20px 0px 0px; }
  .container .required {
    font-size: 10px;
    margin-bottom: 20px; }
  .container .book-review-tile .review-desc {
    word-wrap: break-word;
    overflow-wrap: break-word; }
  .container .rating-box {
    width: 100%;
    border: 1px solid #3E423A;
    padding: 20px;
    height: 300px;
    overflow: scroll; }
  .container .row {
    margin-bottom: 10px; }
  .container .box {
    max-height: 300px;
    border: 2px solid gray;
    overflow: scroll; }
  .container .form-wrapper {
    padding: 0 50px; }
    .container .form-wrapper .button {
      margin: 20px 0;
      padding: 5px 30px;
      font-size: 16px;
      color: white;
      background-color: #417378;
      border: 2px solid #F4F7D9;
      -webkit-transition: color 0.7s ease;
      -moz-transition: color 0.7s ease;
      -ms-transition: color 0.7s ease;
      -o-transition: color 0.7s ease;
      transition: color 0.7s ease;
      -webkit-transition: background-color 0.3s ease;
      -moz-transition: background-color 0.3s ease;
      -ms-transition: background-color 0.3s ease;
      -o-transition: background-color 0.3s ease;
      transition: background-color 0.3s ease; }
      .container .form-wrapper .button:hover {
        background-color: #F4F7D9;
        color: #417378;
        border: 2px solid #3E423A;
        cursor: pointer; }
    .container .form-wrapper textarea {
      width: 100%; }
    .container .form-wrapper .mr0 {
      margin-right: 0px; }
    .container .form-wrapper .input-box {
      border: 1px solid #A4CFBE;
      max-width: 75%;
      width: 100%;
      padding-right: 20px; }
  .container .bdr-r {
    border-right: 2px solid #6C6E58;
    padding-right: 60px; }
  .container .errors {
    color: red;
    max-width: 95%;
    height: auto; }
    .container .errors ul {
      margin: 5px 0 5px 20px;
      list-style: circle; }
      .container .errors ul li {
        font-size: 0.8em; }
  .container form {
    width: 100%; }

/*# sourceMappingURL=base.css.map */
