// Import modules via all.scss
@import "modules/modules";

// import helpers
@import "helpers/buttons";
@import "helpers/mixins";

// import responsive sheets
@import "responsive/1phone";
@import "responsive/2tablet";
@import "responsive/3desktop";

body{
    background-color: #0a7a00;
    background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
}

.header{
    width: 100%;
    height: 90px;
    background-color: $b-blue;
    color: white;
    margin: 0 0 20px 0;
    padding: 20px 0 0 0;
    line-height: 50px;
    h2{
        font-size: 2.5em;
        margin: 0;
    }
}
.container{
    padding: 0 20px 20px 20px;
    color: $white;
    h1{
        margin-bottom: 20px;
    }
    h2{
        margin: 15px 0 20px 0px;
    }
    .bubble-border{
        background-color: $t-gray;
        border-radius: 25px;
        border: 11px solid $b-blue;
        padding: 10px;
        color: $b-blue;
    }
    .rules{
        min-height: 300px;
        margin: 30px 0px;
        padding: 20px;
    }
    .sidebar{
       .sidebar-buffer{
            min-height: 600px;
            margin: 0 10px 30px 0px;
            padding-left: 20px;
       }
    }
    .content{
        min-height: 600px;
        padding: 20px;
        .deck-area{
            //box for
            .draw{

            }
            .discard{

            }
        }
        .hand-container{
            margin-top: 20px;

            .hand{

                .hand-labels{

                }
                .hand-buttons{
                    .discard-btn{
                        padding: 7px 20px;
                        &:hover{
                            padding: 8px 21px;
                        }
                    }
                    button{
                        // width: 100%;
                        text-align: center;
                    }
                }
            }
        }
    }
}
